body {
  color: #d79921;
  background-color: #282828;
  font-size: 16px;
  max-width: 800px;
  margin: auto;
}

a:link {
	text-decoration: underline;
	text-decoration-thickness: 1px;
  	color: #fbf1c7;
}

a:visited {
	text-decoration: none;
  	color: #fbf1c7;
}

a:hover {
	text-decoration: none;
  	color: #fbf1c7;
}

a:active {
	text-decoration: none;
  	color: #fbf1c7;
}


<!--THIS PART SHOULD BE RIGHT ALIGNED-->
.nav-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	justify-content: right;
	flex: 100%;
}

.item {
	width: 50px;
	height: 30px;
	margin: 5px;
	background-color: #3c3836;    /* Light gray */
}

.flexbox-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flexbox-item {
	width: 200px;
	margin: 10px;
	border: 3px solid #d79921;
	background-color: #dfdfdf;
}

.flexbox-item h1 {
	font-family: "Source Sans Pro", sans-serif;
	min-height: 100px;
	flex: 100%;
}

.flexbox-item-1 {
	min-height: 100px;
	flex: 50%;
}

.flexbox-item-2 {
	min-height: 200px;
	flex: 50%
}

.flexbox-item-3 {
	min-height: 300px;
	flex: 50%
}