:root {
  --bg: #282828;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --grey: #a89984;
  
  --grey2: #928374;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --fg: #ebdbb2;
  --width: 1440px
}

.main_container {
  background-color: #282828;
  width: 1440px;
  text-align: center;
}

.main_wrapper {
  background-color: #282828;
  margin: 0 auto 0 auto;
  min-height: 100vh;
  text-align: center;
  width: 75%;
}

body {
  color: #fbf1c7;
  background-color: #282828;
  font-size: 16px;
  max-width: 1440px;
  margin: auto;
  font-family: 'Source Code Pro';
}

button {
  color: var(--yellow);
  background-color: var(--grey2);
  padding: 10px 20px;
  font-size: 20px;
}

button:hover {
  background: var(--grey2);
}

.header {
    text-decoration: none;
    color: var(--fg);
    text-shadow: 0 0 2px var(--fg), 0 0 5px var(--fg);
    font-size: 30px;
    text-align: center;
}

/* AOC hub grid container */

.month-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: row;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .month-grid {
      display: block !important;
  }
}

.col-item{
  border-style: groove;
  border-color: var(--fg);
  text-align: center;
  height: 300;
  width: 300;
}

.col-item a {
    text-decoration: none;
    color: var(--fg);
    text-shadow: 0 0 2px var(--fg), 0 0 5px var(--fg);
    font-size: 20px;
    text-align: center;
}

p.header.text-center {
  text-align: center;
}

p.text-center {
  text-align: center;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}
/* AOC hub grid container */

/*React Navbar*/
.container {
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: var(--grey2);
  position: relative;
}

.home a {
  font-size: 20px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}
/*React Navbar END*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 1.6em;
  text-align: middle;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.4em;
}

p {
	margin-top: 5px;
}

a:link {
	text-decoration: none;
	color: #d79921;
}

a:visited {
	text-decoration: none;
	color: #d79921;
}

a:hover {
	text-decoration: none;
	color: #e3b763;
}

a:active {
	text-decoration: none;
	color: #d79921;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}